.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-direction: column;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: 100vh;
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.embla::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.embla {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 